<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #cff7f7;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin: 5px 0;
        }
        p {
            color: #555;
        }
        hr {
            margin: 20px 0;
            border: none;
            height: 2px;
            background: #ddd;
        }
        h1 {
            font-size: 24px;
            color: #333;
        }
        .login-buttons {
            margin-top: 30px;
        }
        .login-button {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            background-color: #2f59ad;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .login-button:hover {
            background-color: #b22c2c;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>KONGU ENGINEERING COLLEGE</h2>
        <h2>(Autonomous)</h2>
        <p>Perundurai, Erode - 638 060, Tamil Nadu, India</p>
        <hr>
        <h1>Manage On-Duty request with ease</h1>
        <div class="login-buttons">
            <a href="/teacher_login" class="login-button">Staff Login</a>
            <a href="/student-login" class="login-button">Student Login</a>
        </div>
    </div>
</body>
</html>
